body {
    margin:0;
}

header {
    display: flex;
    justify-content: space-around;
}

.header-left {
width:400px;
min-height:50px;
border:1px solid black;
}
.header-right {
    width:600px;
    min-height:50px;
    border:1px solid black;
}

main {
    display:flex;
    justify-content: space-evenly;
}

.left {
    width:500px;
    height:100vh;
    background-color: brown;
}

.right {
    width:400px;
    height:100vh;
    background-color: chocolate;
} 